<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Purpose Color</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb976918209110946</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>6c64129d56a571300d4818da0b18be2b19f79c55</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>976918209110946</string>
	<key>FacebookDisplayName</key>
	<string>Purpose Color-Life Success App</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppTransportSecurity - 2</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>App would like to access your contacts</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location is required to find out where you are</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is required to find out where you are</string>
    <key>NSCalendarsUsageDescription</key>
    <string>App would like to access your calendar</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App would like to access your Photos</string>
    <key>NSCameraUsageDescription</key>
    <string>App would like to access your Camera</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>App would like to access your MicroPhone</string>
    
	<key>UIAppFonts</key>
	<array>
		<string>ArialBlack.ttf</string>
		<string>typodermic.ttf</string>
		<string>TimesNewRomanMTStd-Bold.otf</string>
		<string>times.ttf</string>
		<string>TimesNewRomanMTStd.otf</string>
		<string>Verdana Ref.ttf</string>
		<string>Nougat-ExtraBlack.ttf</string>
		<string>Tahoma_Bold.ttf</string>
		<string>Tahoma.ttf</string>
		<string>AARDC.ttf</string>
		<string>Benguiat.ttf</string>
		<string>BernardMTCondensed.ttf</string>
		<string>CenturyGothic.ttf</string>
		<string>Debussy.ttf</string>
		<string>gunplay.ttf</string>
		<string>HPImpact.ttf</string>
		<string>Lydiane.ttf</string>
		<string>MisterBelvedere.ttf</string>
		<string>HelveticaNeueLTStd-Bd.otf</string>
		<string>HelveticaNeueLTStd-Lt.otf</string>
		<string>Advertising Script Bold Trial.ttf</string>
		<string>Sweet Sensations Personal Use.ttf</string>
        <string>DroidSans-Bold.ttf</string>
        <string>DroidSans.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>HomeDetails</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
